<footer class="footer">
  <div class="social">
    <a href="https://github.com/tomasfarias" target="_blank" title="GitHub" rel="noopener"><i class="fa-brands fa-github" alt="Find my code as tomasfarias on GitHub"></i></a>
    <a href="https://social.tomasfarias.dev/" target="_blank" title="MicroBlog" rel="noopener"><i class="fa-brands fa-mastodon" alt="Follow me on my FediVerse MicroBlog at @tomas@social.tomasfarias.dev"></i></a>
  </div>
  <div>
    <span>© {{ now.Format "2006"}} Tomas Farias Santana</span>
  </div>
</footer>
