<header>
  <nav id="nav">
    <div class="nav-title">
      <a href="/">{{ .Site.Author.name }}</a>
    </div>
    <div class="nav-links">
      {{ $currentPage := . -}}
      {{ range .Site.Menus.main }}
      <a href="{{ .URL }}" {{ if eq $currentPage . }} class="nav-link active" aria-current="page" {{ else }} class="nav-link" {{ end }}>
        {{ if .Pre }}
        {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
        {{ $icon }}
        {{ end }}
        {{ $text := print .Name | safeHTML }}
        {{ $text }}
      </a>
      {{ end }}
    </div>
  </nav>
</header>
