* {
    background: #282828;
    color: #fbf1c7;
    font-family: ui-sans-serif;
    line-height: 1.5;
}

p {
    font-size: 18px;
}

li {
    font-size: 18px;
}

header {
    font-size: 1.5rem;
    max-width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    max-w|idth: 64rem;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.nav-title > a {
    font-weight: bold;
    text-align: center;
}

.nav-link {
    display: inline-block;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;
}

.nav-link .active {
    text-decoration: underline;
}

nav a {
    text-decoration: none;
    font-size: 2rem;
}

nav a.nav-link:hover {
    background: rgba(168, 153, 132, 0.2)
}

main {
    max-width: 64rem;
    align-items: center;
    margin: 0 auto;
}

footer {
    background: #1d2021;
    font-size: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer.i {
    font-size: 3.5rem;
}
